[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
tox = "*"
black = "*"

[packages]
side_effects = {path = ".",editable = true}

[requires]
python_version = "3"

[pipenv]
allow_prereleases = true
